<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Team</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let member of team">
    <ion-item>
      <ion-label>{{member.firstName}}</ion-label>
      <ion-label>{{member.lastName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block">Add a member</ion-button>
</ion-content>
